<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


<script src="/admin/jsi18n/"></script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body>

  <fieldset class="module aligned ">



        <div class="form-row field-mainimage">


                <div>


                        <label class="required" for="id_mainimage">Mainimage:</label>

                            <input type="file" name="mainimage" accept="image/*" required id="id_mainimage">



                </div>

        </div>

        <div class="form-row field-name">


                <div>


                        <label class="required" for="id_name">Name:</label>

                            <input type="text" name="name" class="vTextField" maxlength="264" required id="id_name">



                </div>

        </div>

        <div class="form-row field-category">


                <div>


                        <label class="required" for="id_category">Category:</label>

                            <div class="related-widget-wrapper">
    <select name="category" required id="id_category">
  <option value="" selected>---------</option>

</select>

        <a class="related-widget-wrapper-link change-related" id="change_id_category"
            data-href-template="/admin/App_Shop/category/__fk__/change/?_to_field=id&amp;_popup=1"
            title="Change selected category"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_category"
            href="/admin/App_Shop/category/add/?_to_field=id&amp;_popup=1"
            title="Add another category"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>

</div>



                </div>

        </div>

        <div class="form-row field-preview_text">


                <div>


                        <label class="required" for="id_preview_text">Preview Text:</label>

                            <textarea name="preview_text" cols="40" rows="10" class="vLargeTextField" maxlength="200" required id="id_preview_text">
</textarea>



                </div>

        </div>

        <div class="form-row field-detail_text">


                <div>


                        <label class="required" for="id_detail_text">Description:</label>

                            <textarea name="detail_text" cols="40" rows="10" class="vLargeTextField" maxlength="1000" required id="id_detail_text">
</textarea>



                </div>

        </div>

        <div class="form-row field-price">


                <div>


                        <label class="required" for="id_price">Price:</label>

                            <input type="number" name="price" step="any" required id="id_price">



                </div>

        </div>

        <div class="form-row field-old_price">


                <div>


                        <label class="required" for="id_old_price">Old price:</label>

                            <input type="number" name="old_price" value="0.0" step="any" required id="id_old_price">



                </div>

        </div>

</fieldset>

<div class="submit-row">

    <a href="{% url 'App_Farmer:farmer-home' %}">
        <input type="submit" value="Save" class="default" name="_save"></a>


</div>


    <script id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"

                data-model-name="product"

            async>
    </script>




<script id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</div>


          <br class="clear">
        </div>

        <div id="footer"></div>
      </div>
    </div>
</div>
</body>
</html>